[submodule "docs/tools"]
	path = docs/tools
	url = https://github.com/westurner/tools
[submodule "src/gitflow"]
	path = src/gitflow
	url = https://github.com/westurner/gitflow
[submodule "src/hubflow"]
	path = src/hubflow
	url = https://github.com/westurner/hubflow
[submodule "pwd"]
	path = src/pwd
	url = https://github.com/westurner/pwd
[submodule "pyline"]
	path = src/pyline
	url = https://github.com/westurner/pyline
[submodule "pgs"]
	path = src/pgs
	url = https://github.com/westurner/pgs
[submodule "browenv"]
	path = src/browenv
	url = https://github.com/westurner/browenv
[submodule "brw"]
	path = src/brw
	url = https://github.com/westurner/brw
[submodule "pyrpo"]
	path = src/pyrpo
	url = https://github.com/westurner/pyrpo
[submodule "src/web.sh"]
	path = src/web.sh
	url = https://github.com/westurner/web.sh
[submodule "src/i3t"]
	path = src/i3t
	url = https://github.com/westurner/i3t
