[submodule "docs/tools"]
	path = docs/tools
	url = ssh://git@github.com/westurner/tools
[submodule "src/gitflow"]
	path = src/gitflow
	url = https://github.com/westurner/gitflow
[submodule "src/hubflow"]
	path = src/hubflow
	url = https://github.com/westurner/hubflow
