# Config file for automatic testing at travis-ci.org

cache:
 - apt

language: python

matrix:
  include:
    - python: 2.7
    - python: 3.7
      dist: xenial
      sudo: true
    - python: "pypy3.5"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements.txt

# command to run tests, e.g. python setup.py test
script: python setup.py test
