path.py
grin
virtualenv>=1.3.3
virtualenvwrapper
z3c.recipe.tag>=0.4.0
ipdb
nose>=0.11.1
nose-progressive
nose-ipdb
ipdbplugin
pyflakes
pep8
coverage
docutils
pygments
Sphinx
Sphinx-PyPi-upload
sphinxfeed
changelog
sphinxcontrib-mercurial
sphinx-git
sphinxcontrib-bitbucket
sphinxcontrib-issuetracker
sphinxcontrib-cheeseshop
sphinxcontrib-bibtex
sphinxcontrib-paverutils
github-tools[template]
paver
PasteScript
vimpyre
github-tools