pyinotify
#  src:
#    -e git+https://github.com/seb-m/pyinotify#egg=pyinotify
#  doc:
#    - https://github.com/seb-m/pyinotify/wiki 
#    - https://seb-m.github.io/pyinotify/

pyline
#  src:
#    -e git+https://github.com/westurner/pyline#egg=pyline
#  doc:
#    - https://pyline.readthedocs.org/en/latest/

python-dateutil
#  src:
#   -e bzr+https://code.launchpad.net/~dateutil/dateutil/trunk#egg=dateutil
#  doc:
#    http://labix.org/python-dateutil
