
/* leftnavbar.css */
@media (min-width: 767px) {
    #content-wrapper, div.footer-relbar, footer {
        position: relative;
        /* left: 25%; */
        margin-left: 25%;
        width: 75%;
        float: none;
    }

    #sidebar-wrapper {
        max-width: 25%
    }
}

