Sphinx >= 1.3.1
pygments

#Sphinx-PyPi-upload
#sphinxfeed
changelog

sphinxcontrib-srclinks

#sphinxcontrib-mercurial
#sphinx-git

#sphinxcontrib-issuetracker
#sphinxcontrib-cheeseshop
#sphinxcontrib-bibtex
#sphinxcontrib-paverutils

#sphinxcontrib-napoleon

# Requires PasteDeploy?
# github-tools[template]
